@model BreederStationAspView.Models.User


@{
    ViewBag.Title = "ChangePasswordForm";
}



<h2>Změna hesla</h2>

@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
{
    <div>@Html.Label("New password")</div>
    <div>@Html.PasswordFor(m => Model.Password)</div>
    <div class="button"><input id="ChangePasswordButton" type="submit" value="Změnit heslo" /></div>
}